<ion-view>
  <!-- <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Iniciar Sesión</h1>
  </ion-header-bar> -->
  <ion-content class="padding scroll-bg">

    <div class="center-content">

    <img src="../img/logo.png" class="logoclientes">

    <form ng-submit="doLogin()" name="logearse" id="logearse">

      <div class="list" id="logininputs">
        <p class="assertive" ng-show="logearse.username.$invalid && logearse.username.$touched || logearse.password.$invalid && logearse.password.$touched">Por favor inserte su email y password correctamente</p>
        <label class="item item-input padding-vertical">
          <input type="email" ng-model="loginData.username" placeholder="Usuario (email)" name="username" autofocus ng-required="true"> 
        </label>
        <label class="item item-input padding-vertical">
          <input type="password" ng-model="loginData.password" placeholder="Contraseña" ng-required="true" name="password">
        </label>
      </div>
          <div class="row">
          
          <div class="col">
            
            <button class="button button-block button-positive" type="submit" ng-disabled="logearse.$invalid">Entrar</button>
          
          </div>
         
          <div class="col">

            <button class="button button-block button-balanced" ng-click="registrarse()">Registrarse</button>
         
          </div>   
        </div>
    </form>

    </div>

  </ion-content>
</ion-view>
